<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="datapath" value="D:\data" />
    <add key="LogPath" value="D:\data\Logs" />
    <add key="FailLogPath" value="D:\data\FailLogs" />
  </appSettings>
  <connectionStrings>
    <add name="strCon" connectionString="server=192.168.170.25;user id=sa; password=123456; database=Hangxing;" />
  </connectionStrings>
</configuration>